<div class="resume-section-title">Kaggle</div>
<ul>
  {% for item in site.data.resume.kaggle %}
  
  <li><b>{{item.title}}</b>: {{item.description}}</li>

  {% endfor %}
</ul>

<div class="resume-section-title">Academic Awards</div>
<ul>
  {% for item in site.data.resume.achievements_academic %}
  
  <li><b>{{item.title}}</b>: {{item.description}}</li>

  {% endfor %}
</ul>

<div class="resume-section-title">Achievement in Competitions</div>
<ul>
  {% for item in site.data.resume.achievements_competition %}
  
  <li><b>{{item.title}}</b>: {{item.description}}</li>

  {% endfor %}
</ul>
